h1 {
  color: white;
  background-color: black;
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 75%;
  background-blend-mode:color-dodge;
  background-color: green;
}

section {
  background-image: url("images/backgroundimage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 30px;
}

section p {
  color: white;
}

nav {
  padding: 10px;
}

ul li {
  list-style: none;
  text-align: center;

}

img {
  margin-left: 425px;
  border-radius: 60%;
}

h2 {
  text-align: center;
  font-size: 35px;
}

p {
  text-align: center;
  font-size: 35px;
  color: black;
}
